doctype html
html
    head
        block head
            title Send Protect

            meta(charset="utf-8")
            link(rel='stylesheet', href='/style/app.css')
            script(type="text/javascript", href='/script/office.debug.js')
            script(type="text/javascript", href='/script/app.js')
    body
        div#wrap
            div#header
                div.container
                    block content
